{% extends "admin/change_form.html" %}
{% load adminmedia admin_list i18n %}

{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
  <li><a href="{% url admin:hgwebproxy_repository_explore object_id %}">{% blocktrans with opts.verbose_name|capfirst|escape as name %}Explore {{ name }}{% endblocktrans %}</a></li>
  <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}
