{% extends "admin/base_site.html" %}
{% load i18n adminmedia %}
{% block title %}
	{{ repo.name }} :: {{ slugpath }}
{% endblock %}

{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/admin/">
        {% trans "Home" %}
      </a>
       &rsaquo;
      <a href="{% url repo_list %}">
        {% trans "Repository List" %}
      </a>
       &rsaquo;
       {{ repo.name }}
    </div>
  {% endblock %}
{% endif %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% admin_media_prefix %}css/changelists.css" />
  <link rel="stylesheet" type="text/css" href="{{ static_url }}style-monoblue.css" />
{% endblock %}
{% block bodyclass %}change-list{% endblock %}
{% block coltype %}flex{% endblock %}
{% block content %}
{% if is_root %}{% endif %}
{{ content|safe }}
{% endblock %}
