{% extends "calgb_prebase.html" %}

{% block extrahead %}
<link rel="stylesheet" href="{{ media_url }}{{ bixfile_name }}/css/jqueryprogressbar.css" type="text/css"/>
<link rel="stylesheet" href="{{ media_url }}{{ bixfile_name }}/css/jqModal.css" type="text/css"/>
{% endblock %}

{% block sidebar %}
<h3>Pages</h3>
<ul>
  <li><a class="side" href="{% url index %}">Home</a></li>
  <li><a class="side" href="{% url top_folders %}">Top Level Folder View</a></li>
  <li><a class="side" href="{% url folder_create %}">Create Folder</a></li>
  <li><a class="side" href="{% url file_upload %}">Upload File</a></li>
  <li><a class="side" href="{% url zipfile_upload %}">Upload Zip File</a></li>
  <li><a class="side" href="{% url jupload %}">Multiple File Upload</a></li>
  <li><a class="side" href="{% url patient_data_create %}">Create Patient Data</a></li>
  <li><a class="side" href="{% url dummy_patient_info_index %}">Dummy Patient Info Index</a></li>
  <li><a class="side" href="{% url patient_data_index %}">Patient Data Index</a></li>
  <li><a class="side" href="{% url dummy_preprocess_data %}">Dummy Preprocess Data</a></li>
  <li><a class="side" href="{% url preprocessed_data_index %}">Preprocessed Data Index</a></li>
  <li><a class="side" href="{% url logout %}">Logout</a></li>
</ul>
{% endblock %}
