{% extends "base.html" %}
{% load formatting %}

{% block title %}
	hg 
	{% if slugpath %}
		:: {{ slugpath }}
	{% endif %}
{% endblock %}

{% block middle %}

	<h3>mercurial <small>{{ hg_version }}</small></h3>
	
	<ul>
		<li>a fast, lightweight source control management (scm) system designed for efficient handling of very large distributed projects.</li>
	</ul>
	
	<ul>
		<li>
			here's all the code I've put online, you can browse around and check it out.
		</li>
	</ul>

{% endblock %}

{% block extra %}
	// 
	{% if slugpath %}
		{{ slugpath }}
	{% else %}
		{% if is_root %}
			code
		{% endif %}
	{% endif %}
{% endblock %}

{% block content %}

	<div id="hg">
		{% autoescape off %}
			{{ content }}
		{% endautoescape %}
	</div>

	</div>

	{% if is_root %}
	
		<br/>

		<h4>what's this?</h4>

		<p>
			this is a wsgi proxy straight to mercurials &#8220;hgweb&#8221;. it's running behind a django site.
		</p>
		
		<p>
			it supports cloning (and pushing over http if you've got access.) you can follow commits over rss or atom too. in case you're just looking for a snapshot, grab either a tarball or a zipfile. we only do digest authentication here.
		</p>
		
		<p>
			<code>hg clone http://noehr.org/hg/&lt;reponame&gt;</code> will get you a fresh copy.
		</p>

	{% endif %}

{% endblock %}